*, *::before, *::after {
  box-sizing: border-box;
}


.main{
    margin-top: 70px;
}

.nav {
  background: linear-gradient(135deg, #1b0352, #08208b);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 70px;
  position: fixed; /* ili fixed ako želiš da uvijek bude na vrhu ekrana */
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  /*border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;*/
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navList {
    font-size: 1.2rem;
  display: flex;
  gap: 1.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
 
}

.navList li {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navList li:hover {
  color: #ffd166;
  transform: translateY(-2px);
}

.navList a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease, border-bottom 0.3s ease;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.navList a:hover {
  color: #ffd166;
  border-bottom: 2px solid #ffd166;
  transform: translateY(-2px);
}

.navList a.active {
  color: #ffd166;
  border-bottom: 2px solid #ffd166;
  font-weight: 600;
}


.logout {
  background-color: #f72585;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout:hover {
  background-color: #b5179e;
  transform: scale(1.05);
}

/*footer {
  background-color: #f8f9fa;
  color: #555;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 1px solid #ddd;
}*/
